* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #1e1e2f, #2a2a40);
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    width: 90%;
    max-width: 700px;
    height: 55px;

    background: rgba(34, 34, 34, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    overflow: hidden;

    z-index: 1000;
}
nav a {
    flex: 1;
    text-align: center;
    line-height: 55px;
    text-decoration: none;
    color: #ccc;
    font-size: 1em;
    font-weight: 500;
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

nav a:hover {
    color: white;
}
nav span {
    position: absolute;
    top: 5px;
    left: 0;
    width: calc(100% / 7);
    height: 45px;
    background: linear-gradient(45deg, #363839, #0b0b0b);
    border-radius: 12px;
    transition: 0.4s ease;
    box-shadow: 0 0 10px rgba(31, 31, 31, 0.6);
}

@media (max-width: 600px) {
    nav {
        height: 50px;
    }

    nav a {
        font-size: 0.8em;
    }

    nav span {
        height: 40px;
    }
}