h1{
    color: blue;
    font-size: 2em;
    
}

.container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

.container div 
    {
        margin: 20px;
        padding: 10px;
        background-color: #aa2020;
        border: 1px solid #36625e;
        border-radius: 20px;
        width: 600px;
        height: 300px;
    }